body {
  background-color: rgb(231, 240, 246);
}
/* fonts import..........  */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.mainDiv {
  margin-top: 20px !important;
  padding: 16px 10px;
  background: rgb(255, 255, 255);
  width: 500px;
  margin: 0 auto;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.name {
  color: rgb(119, 93, 93);
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-style: italic;
  margin-bottom: 16px;
  /* font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal; */
}
.name span {
  color: gray;
  font-weight: 700;
  font-size: 32px;
}
.counter {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  background-color: rgb(109, 109, 230);
  color: white;
  margin-left: 100px;
  position: absolute;
  right: 50px;
  top: 10px;
  padding: 13px 6px;
  border-radius: 50%;
}
.header {
  /* background-color: rgba(221, 203, 203, 0.308); */
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .createInput {
  background-color: rgba(221, 203, 203, 0.363);
  font-family: "Inter", sans-serif;
  font-style: italic;
  width: 240px;
  border: none;
  outline: none;
  padding: 10px 13px 11px 10px;
  border-radius: 6px;
}
.createButton {
  /* background-color: rgb(93, 93, 238); */
  background: #1877f2;

  color: white;
  font-size: 36px;
  border-radius: 50%;
  border: none;
  margin-left: -10px;
  padding: 4px 8px;
  cursor: pointer;
}
.createButton:hover {
  background: #0e58b9;
}
.createButton:active {
  background: #084697;
}
/* ..............todo list ...  */

.Todo_List {
  margin-top: 14px !important;
  background: rgb(255, 255, 255);
  width: 500px;
  /* height: 480px; */
  margin: 0 auto;
  padding: 16px 10px;
  border-radius: 12px;
  box-shadow: rgba(235, 27, 27, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.singleTodoCard {
  display: flex;
  align-items: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.todoCardInput {
  margin-top: 2px;
  width: 300px;
  font-size: 20px;
  outline: none;
  padding: 10px 7px;
  font-family: "Inter", sans-serif;
  border: none;
}
/* ...................................
.............buttons ......... */
/* From Uiverse.io by david-mohseni */
.wrapper {
  display: inline-flex;
  list-style: none;
  width: 50%;
  padding: 10px 1px;
  font-family: "Poppins", sans-serif;
  justify-content: center;
}

.wrapper .icon {
  position: relative;
  background: #f7eeee;
  border-radius: 50%;
  margin: 5px;
  width: 40px;
  height: 40px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(26, 25, 25, 0.205);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -32px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .edit:hover,
.wrapper .edit:hover .tooltip,
.wrapper .edit:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}

.wrapper .delete:hover,
.wrapper .delete:hover .tooltip,
.wrapper .delete:hover .tooltip::before {
  background: #e4405f;
  color: #fff;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}

.wrapper .done:hover,
.wrapper .done:hover .tooltip,
.wrapper .done:hover .tooltip::before {
  background: #1da1f2;

  color: #fff;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}
